/*global style*/
html,
body,
.fx,
.fx_left,
.fx_center,
.fx_right,
.menu,
.aside
{
    height: 100%;
}

.fx {
    display: flex;
    flex-flow: row;
    width: 100%;
    position:absolute;
    font-family: '微软雅黑';
}

.fx_left {
    flex: 1;
    max-width: 200px;
    min-width: 150px;
    background-color: #F3F3F3;
}

.fx_center {
    flex: 3;
    min-width: 200px;
}

.fx_right {
    flex: 2;
}

.fx_col{
    display: flex;
    flex-flow: column;
    width: 100%;
}
.grey_bg {
    background-color: #F3F3F3;
}

.aside{
    background-color: #F9F9F9;
    border-right:1px #E7E7E7 solid;
}

.blue_bg {
    background: #0072C6;
}

.grey_border {
    border-left:1px #F3F3F3 solid;
}

.no_border {
    height: 43px;
}

/*menu style*/

.menu_item{
    width: 100%;
    height: 36px;
    position: relative;
    display: list-item;
    color: #444;
}

.menu{
    border-right: 1px solid white;
    position: relative;
}

.menu ul{
    list-style-type: none;
}

.menu_item a:link{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.menu_item a:hover{
    background-color: #CCC;
    font-weight: bold;
}

.menu_item a:visited{
    color: #444;
}

.menu_item a i{
    margin: 8px;
}

.menu_item a:link span{
    vertical-align: middle;
    margin-left: 10px;
}

.menu_item a:hover span{

}

#collection_logo{
    background-image: url("collection_log.png") ;
}

#supervision_logo{
    background-image: url("supervision_logo.png") ;
}

#wishes_logo{
    background-image: url("wishes_logo.png") ;
}
#calendar_logo{
    border: 1px solid #999;
    width: 15px;
    height: 15px;
    margin: 8px;
    font-size: 12px;
    line-height: 130%;
    color: #666;
    padding: 1px;
    font-style: normal;
    display: inline-block;
}

#calendar_logo + span{
    margin-left: 9px;
}

.menu_item a:hover #calendar_logo{
    font-weight: normal;
}
.menu_item a span{
    font-weight: normal;
}

.mini_logo{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: transparent;
}

.main_list{
    border-left: 1px solid #ddd;
    height: 100%;
}

/*project pool*/
#project_pool {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

#project_pool a span{
    font-size: 14px;
}

#project_pool > span{
    margin-left: 10px;
    margin-bottom: 10px;
    color: #999999;
}

#project_pool a{
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-out;
}
#project_pool a:active{
    color: #999;
}
#project_pool a:hover{
    background-color: #ccc;
}
.blood_logo{
    width: 15px;
    height: 15px;
    margin: 8px;
    padding: 1px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background-color: #0072C6;
    border: 1px solid #0072C6;
    font-size: 12px;
    font-style: normal;
    line-height: 130%;
}

/*current tab style*/
#current_menu:link{
    background-color: #ccc;
    box-shadow:2px 2px 3px #aaa inset;
    text-shadow: 0px -1px 0px #ddd, 0px 1px 1px #666;
}


/*middle style*/
.super_input{
    width: 95%;
    height: 35px;
    margin: 10px;
}
